/* Custom styles */
.body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover {
  color: #fff;
}

.navbar .form-inline {
  margin-left: auto;
  margin-right: 0;
}

.navbar .form-inline .form-control {
  width: 400px;
}

/* main-content */

.category-box img {
  width: 300px; 
  height: 300px; 
  object-fit: cover;
  display: block; 
  margin: 50px auto; 
}

/* carousel */
.carousel-inner img {
  width: 80%; 
  height: auto; 
}


/* Cart Icon */
.navbar .btn-light {
  margin-right: 10px;
}

.jumbotron {
  background-image: url('path/to/your/image.jpg');
  background-size: cover;
  color: #fff;
  padding: 100px;
}

.jumbotron h1 {
  font-size: 48px;
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
}

/* container de produtos */

.category-header {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
  color: #333;
  font-weight: bold;
}


.products-container {
  color: #fff;
  padding: 50px 0;
}

.product-card {
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: 200px;  
  object-fit: cover;  
  margin-bottom: 20px;
}

.product-card h4 {
  color: #e62b4a;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;  /* Limits to 2 lines. Adjust as needed. */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.product-card .product-price {
  text-align: center;               
  font-weight: bold;             
  color: black;                               
  font-size: 18px;                         
}

.category-section {
  color: black;
}

.cta-section {
  background-color: #2a1a3f;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.cta-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.cta-section p {
  font-size: 18px;
}

/* products detail */

.product-detail-image {
  max-height: 400px; 
  display: block; 
  margin: 0 auto; 
  overflow: hidden;
}

.product-detail-title {
  margin-bottom: 10px;
}

.product-detail-price {
  margin-bottom: 10px;
}

.product-detail-description {
  margin-bottom: 10px;
}


/* footer */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin-bottom: 0;
}


/* Payment Icons */
.footer .payment-icons {
  margin-bottom: 20px;
}

.btn {
  background-color: #e62b4a;
  color: #fff;
}

.footer .payment-icons i {
  font-size: 24px;
  margin: 0 10px;
}

/* Company Info */
.footer .company-info {
  font-size: 12px;
}

.mb-3{
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  text-align: left;
  font-size: 24px;
}

#emailHelp{
  font-size: 12px;
}